In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [10]:
data = pd.read_csv('/Users/mynimbus/Library/Mobile Documents/com~apple~CloudDocs/GitHub Uploads/StoreSight/0_data/Global_SuperStore_16.csv')
data.head()

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Returned
0,0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,...,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High,NaN
1,1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,...,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical,NaN
2,2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,...,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium,NaN
3,3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,...,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium,NaN
4,4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,...,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical,NaN

### Data Cleaning & Feature Engineering

In [11]:
# 1. Drop unnecessary columns
data.drop(columns=['Unnamed: 0', 'Row ID'], inplace=True)

# 2. Convert Order Date and Ship Date to datetime
data['Order Date'] = pd.to_datetime(data['Order Date'], errors='coerce')
data['Ship Date'] = pd.to_datetime(data['Ship Date'], errors='coerce')

# 3. Feature: Shipping Delay (in days)
data['Shipping Delay (Days)'] = (data['Ship Date'] - data['Order Date']).dt.days

# 4. Feature: Profit Margin (as a decimal)
data['Profit Margin'] = data['Profit'] / data['Sales']
data['Profit Margin'] = data['Profit Margin'].replace([np.inf, -np.inf], np.nan)

# 5. Feature: Total Order Value = Sales + Shipping Cost
data['Total Order Value'] = data['Sales'] + data['Shipping Cost']

# 6. Clean column names (optional best practice)
data.columns = data.columns.str.strip().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

# 7. Show summary
data[['Order_ID', 'Order_Date', 'Ship_Date', 'Shipping_Delay_Days', 'Profit_Margin', 'Total_Order_Value']].head()

,Order_ID,Order_Date,Ship_Date,Shipping_Delay_Days,Profit_Margin,Total_Order_Value
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,2,0.280000,262.750
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,2,-0.077847,4633.025
2,IN-2014-CR127307-41929,2014-10-17,2014-10-18,1,0.177766,6090.661
3,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,2,-0.033376,3802.670
4,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,1,0.109963,3736.000

- Cleaned datetime fields.
- Two new key features:
- Profit_Margin
- Total_Order_Value
- Shipping_Delay_Days
- Removed unnecessary index-related columns.

In [12]:
# 1. Check total missing values
missing = data.isnull().sum()
missing_percent = (missing / len(data)) * 100
missing_df = pd.DataFrame({'Missing_Values': missing, 'Percentage': missing_percent})
missing_df = missing_df[missing_df['Missing_Values'] > 0].sort_values(by='Percentage', ascending=False)
missing_df

             Missing_Values  Percentage
Returned              49088   95.706765
Postal_Code           41296   80.514720

In [13]:
# 2. Handling 'Postal_Code': Drop due to large percentage missing & not useful globally
data.drop(columns=['Postal_Code'], inplace=True)

# 3. Handling 'Returned':
# Option 1: Keep and label missing as "Not Known" (to allow grouping)
data['Returned'] = data['Returned'].fillna('Unknown')

# Optional: create binary flag for modeling later
data['Is_Returned'] = data['Returned'].apply(lambda x: 1 if x == 'Yes' else 0)

# 4. Confirm all missing handled
print("Missing Values After Handling:")
print(data.isnull().sum().sort_values(ascending=False).head())

Missing Values After Handling:
Order_ID               0
Sub-Category           0
Total_Order_Value      0
Profit_Margin          0
Shipping_Delay_Days    0
dtype: int64

Great! Let’s now calculate the Profit Margin, a key financial KPI that reveals how much profit is made relative to sales.

#### What is Profit Margin?

Profit Margin = (Proft /sales) * 100

It gives us a percentage value that shows the efficiency of sales in generating profit.

#### Add Profit_Margin Column

In [6]:
# Avoid division by zero
data = data[data['Sales'] != 0]

# Calculate Profit Margin (%)
data['Profit_Margin'] = (data['Profit'] / data['Sales']) * 100

# Round for readability
data['Profit_Margin'] = data['Profit_Margin'].round(2)

# Preview the new column
data[['Sales', 'Profit', 'Profit_Margin']].head()

      Sales    Profit  Profit_Margin
0   221.980   62.1544          28.00
1  3709.395 -288.7650          -7.78
2  5175.171  919.9710          17.78
3  2892.510  -96.5400          -3.34
4  2832.960  311.5200          11.00

#### Compute Total_Order_Value

In [7]:
# Total Order Value = Sales + Shipping_Cost
data['Total_Order_Value'] = data['Sales'] + data['Shipping_Cost']

# Optional: Round for clarity
data['Total_Order_Value'] = data['Total_Order_Value'].round(2)

# Show sample
data[['Sales', 'Shipping_Cost', 'Total_Order_Value']].head()

      Sales  Shipping_Cost  Total_Order_Value
0   221.980          40.77             262.75
1  3709.395         923.63            4633.02
2  5175.171         915.49            6090.66
3  2892.510         910.16            3802.67
4  2832.960         903.04            3736.00

In [8]:
cleaned_data = data
cleaned_data.to_csv("/Users/mynimbus/Library/Mobile Documents/com~apple~CloudDocs/GitHub Uploads/StoreSight/0_data/cleaned_data.csv")

In [9]:
# ✅ Final Data Cleaning Checks for cleaned_data (with updated column names)

# 1. General Info
print("=== DataFrame Info ===")
cleaned_data.info()

print("\n=== Summary Statistics ===")
print(cleaned_data.describe())

# 2. Missing Values Check
print("\n=== Missing Values Count ===")
print(cleaned_data.isnull().sum())

print("\n=== Missing Values Percentage ===")
print((cleaned_data.isnull().sum() / len(cleaned_data)) * 100)

# 3. Duplicates Check
print("\n=== Duplicate Rows Count ===")
print(cleaned_data.duplicated().sum())

# 4. Date Columns Check
print("\n=== Order and Ship Date Ranges ===")
print(f"Order Date: {cleaned_data['Order_Date'].min()} → {cleaned_data['Order_Date'].max()}")
print(f"Ship Date: {cleaned_data['Ship_Date'].min()} → {cleaned_data['Ship_Date'].max()}")

print("\n=== Date Column Data Types ===")
print(f"Order Date dtype: {cleaned_data['Order_Date'].dtype}")
print(f"Ship Date dtype: {cleaned_data['Ship_Date'].dtype}")

# 5. Value Validations
print("\n=== Rows with Sales <= 0 ===")
print(cleaned_data[cleaned_data['Sales'] <= 0])

print("\n=== Rows with Quantity <= 0 ===")
print(cleaned_data[cleaned_data['Quantity'] <= 0])

print("\n=== Sample Rows with Negative Profit (valid losses) ===")
print(cleaned_data[cleaned_data['Profit'] < 0].head())

# 6. Profit Margin Accuracy
print("\n=== Profit Margin Consistency Check ===")
cleaned_data['Calculated_Margin'] = cleaned_data['Profit'] / cleaned_data['Sales']
comparison_diff = (cleaned_data['Profit_Margin'] - cleaned_data['Calculated_Margin']).abs()
print(f"Max Difference in Profit Margin Calculation: {comparison_diff.max():.6f}")

# 7. Categorical Columns Review
print("\n=== Segment Distribution ===")
print(cleaned_data['Segment'].value_counts())

print("\n=== Ship Mode Distribution ===")
print(cleaned_data['Ship_Mode'].value_counts())

print("\n=== Order Priority Distribution ===")
print(cleaned_data['Order_Priority'].value_counts())

print("\n=== Returned Flag Distribution (Is_Returned) ===")
print(cleaned_data['Is_Returned'].value_counts())

# 8. Check Added Feature Columns
print("\n=== Sample of Added Columns ===")
print(cleaned_data[['Profit_Margin', 'Total_Order_Value', 'Is_Returned', 'Shipping_Delay_Days']].head())

# 9. Save Cleaned Data
#cleaned_data.to_csv('data/cleaned_global_superstore.csv', index=False)
print("\n✅ Cleaned data saved to 'data/cleaned_global_superstore.csv'")

=== DataFrame Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order_ID             51290 non-null  object
 1   Order_Date           51290 non-null  datetime64[ns]
 2   Ship_Date            51290 non-null  datetime64[ns]
 3   Ship_Mode            51290 non-null  object
 4   Customer_ID          51290 non-null  object
 5   Customer_Name        51290 non-null  object
 6   Segment              51290 non-null  object
 7   City                 51290 non-null  object
 8   State                51290 non-null  object
 9   Country              51290 non-null  object
 10  Region               51290 non-null  object
 11  Market               51290 non-null  object
 12  Product_ID           51290 non-null  object
 13  Category             51290 non-null  object
 14  Sub-Category         51290 non-null  object
 15  Product_Name         51290 non-null  object
 16  Sales                51290 non-null  float64
 17  Quantity             51290 non-null  int64
 18  Discount             51290 non-null  float64
 19  Profit               51290 non-null  float64
 20  Shipping_Cost        51290 non-null  float64
 21  Order_Priority       51290 non-null  object
 22  Returned             51290 non-null  object
 23  Shipping_Delay_Days  51290 non-null  int64
 24  Profit_Margin        51290 non-null  float64
 25  Total_Order_Value    51290 non-null  float64
 26  Is_Returned          51290 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(3), object(16)
memory usage: 10.6+ MB

=== Summary Statistics ===
                          Order_Date                      Ship_Date  \
count                          51290                          51290
mean   2014-05-11 21:26:49.155780608  2014-05-15 20:42:42.745174528
min              2012-01-01 00:00:00            2012-01-03 00:00:00
25%              2013-06-19 00:00:00            2013-06-23 00:00:00
50%              2014-07-08 00:00:00            2014-07-12 00:00:00
75%              2015-05-22 00:00:00            2015-05-26 00:00:00
max              2015-12-31 00:00:00            2016-01-07 00:00:00
std                              NaN                            NaN

              Sales      Quantity      Discount        Profit  Shipping_Cost  \
count  51290.000000  51290.000000  51290.000000  51290.000000   51290.000000
mean     246.490581      3.476545      0.142908     28.610982      26.478567
min        0.444000      1.000000      0.000000  -6599.978000       1.002000
25%       30.758625      2.000000      0.000000      0.000000       2.610000
50%       85.053000      3.000000      0.000000      9.240000       7.790000
75%      251.053200      5.000000      0.200000     36.810000      24.450000
max    22638.480000     14.000000      0.850000   8399.976000     933.570000
std      487.565361      2.278766      0.212280    174.340972      57.251373

       Shipping_Delay_Days  Profit_Margin  Total_Order_Value   Is_Returned
count         51290.000000   51290.000000       51290.000000  51290.000000
mean              3.969370       4.743048         272.969133      0.042932
min               0.000000    -473.350000           1.450000      0.000000
25%               3.000000       0.000000          34.072500      0.000000
50%               4.000000      16.920000          94.215000      0.000000
75%               5.000000      33.310000         278.815000      0.000000
max               7.000000      50.000000       22662.770000      1.000000
std               1.729437      46.566723         532.788948      0.202707

=== Missing Values Count ===
Order_ID               0
Order_Date             0
Ship_Date              0
Ship_Mode              0
Customer_ID            0
Customer_Name          0
Segment                0
City                   0
State                  0
Country                0
Region                 0
Market                 0
Product_ID             0
Category               0
Sub-Category           0
Product_Name           0
Sales                  0
Quantity               0
Discount               0
Profit                 0
Shipping_Cost          0
Order_Priority         0
Returned               0
Shipping_Delay_Days    0
Profit_Margin          0
Total_Order_Value      0
Is_Returned            0
dtype: int64

=== Missing Values Percentage ===
Order_ID               0.0
Order_Date             0.0
Ship_Date              0.0
Ship_Mode              0.0
Customer_ID            0.0
Customer_Name          0.0
Segment                0.0
City                   0.0
State                  0.0
Country                0.0
Region                 0.0
Market                 0.0
Product_ID             0.0
Category               0.0
Sub-Category           0.0
Product_Name           0.0
Sales                  0.0
Quantity               0.0
Discount               0.0
Profit                 0.0
Shipping_Cost          0.0
Order_Priority         0.0
Returned               0.0
Shipping_Delay_Days    0.0
Profit_Margin          0.0
Total_Order_Value      0.0
Is_Returned            0.0
dtype: float64

=== Duplicate Rows Count ===
0

=== Order and Ship Date Ranges ===
Order Date: 2012-01-01 00:00:00 → 2015-12-31 00:00:00
Ship Date: 2012-01-03 00:00:00 → 2016-01-07 00:00:00

=== Date Column Data Types ===
Order Date dtype: datetime64[ns]
Ship Date dtype: datetime64[ns]

=== Rows with Sales <= 0 ===
Empty DataFrame
Columns: [Order_ID, Order_Date, Ship_Date, Ship_Mode, Customer_ID, Customer_Name, Segment, City, State, Country, Region, Market, Product_ID, Category, Sub-Category, Product_Name, Sales, Quantity, Discount, Profit, Shipping_Cost, Order_Priority, Returned, Shipping_Delay_Days, Profit_Margin, Total_Order_Value, Is_Returned]
Index: []

[0 rows x 27 columns]

=== Rows with Quantity <= 0 ===
Empty DataFrame
Columns: [Order_ID, Order_Date, Ship_Date, Ship_Mode, Customer_ID, Customer_Name, Segment, City, State, Country, Region, Market, Product_ID, Category, Sub-Category, Product_Name, Sales, Quantity, Discount, Profit, Shipping_Cost, Order_Priority, Returned, Shipping_Delay_Days, Profit_Margin, Total_Order_Value, Is_Returned]
Index: []

[0 rows x 27 columns]

=== Sample Rows with Negative Profit (valid losses) ===
                    Order_ID Order_Date  Ship_Date       Ship_Mode  \
1     IN-2014-JR162107-41675 2014-02-05 2014-02-07    Second Class
3    ES-2014-KM1637548-41667 2014-01-28 2014-01-30     First Class
16  CA-2012-AB10015140-40958 2012-02-19 2012-02-25  Standard Class
30   US-2012-RR1952536-41270 2012-12-27 2012-12-29    Second Class
40   ID-2014-JB1600059-41873 2014-08-22 2014-08-26  Standard Class

     Customer_ID     Customer_Name      Segment           City  \
1      JR-162107     Justin Ritter    Corporate     Wollongong
3     KM-1637548  Katherine Murray  Home Office         Berlin
16  AB-100151402     Aaron Bergman     Consumer      Arlington
30    RR-1952536         Rick Reed    Corporate  Santo Domingo
40    JB-1600059         Joy Bell-     Consumer        Mataram

                  State             Country  ... Quantity Discount    Profit  \
1       New South Wales           Australia  ...        9     0.10 -288.7650
3                Berlin             Germany  ...        5     0.10  -96.5400
16                Texas       United States  ...        2     0.20   -2.5248
30        Santo Domingo  Dominican Republic  ...        5     0.20 -148.4600
40  Nusa Tenggara Barat           Indonesia  ...        6     0.17  -77.2038

   Shipping_Cost Order_Priority Returned  Shipping_Delay_Days  Profit_Margin  \
1        923.630       Critical  Unknown                    2          -7.78
3        910.160         Medium  Unknown                    2          -3.34
16         1.970            Low  Unknown                    6         -20.00
30       704.056       Critical  Unknown                    2          -8.75
40       660.870           High  Unknown                    4          -2.41

    Total_Order_Value  Is_Returned
1             4633.02            0
3             3802.67            0
16              14.59            0
30            2400.70            0
40            3861.47            0

[5 rows x 27 columns]

=== Profit Margin Consistency Check ===
Max Difference in Profit Margin Calculation: 468.616458

=== Segment Distribution ===
Segment
Consumer       26518
Corporate      15429
Home Office     9343
Name: count, dtype: int64

=== Ship Mode Distribution ===
Ship_Mode
Standard Class    30775
Second Class      10309
First Class        7505
Same Day           2701
Name: count, dtype: int64

=== Order Priority Distribution ===
Order_Priority
Medium      29433
High        15501
Critical     3932
Low          2424
Name: count, dtype: int64

=== Returned Flag Distribution (Is_Returned) ===
Is_Returned
0    49088
1     2202
Name: count, dtype: int64

=== Sample of Added Columns ===
   Profit_Margin  Total_Order_Value  Is_Returned  Shipping_Delay_Days
0          28.00             262.75            0                    2
1          -7.78            4633.02            0                    2
2          17.78            6090.66            0                    1
3          -3.34            3802.67            0                    2
4          11.00            3736.00            0                    1

✅ Cleaned data saved to 'data/cleaned_global_superstore.csv'